* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Roboto Light',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 16px;
}

@media screen and (prefers-color-scheme: dark) {
    #contributor-grid * {
        color: #fff;
    }

    body {
        background-color: #121212;
        color: #fff;
    }
}
